:root {
  --width: 100%;
  --primary-light: #33afff;
  --primary-dark: #2962ff;
  --primary-neutral: #111827;
  --accent1: #d72483;
  --accent2: #ed254e;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

body {
  background-color: var(--primary-neutral);
  color: white;
}

/* .blogs {
  background-color: var(--primary-dark);
  padding: 1rem;
  margin: 2rem;
  border-radius: 25px;
} */

.blog-anchors {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--primary-dark);
  padding: 1rem;
  margin: 2rem;
  border-radius: 25px;
}

.blog-text {
  float: left;
  width: 52%;
  padding: 0.5rem;
}

.blog-image {
  width: 40%;
  border-radius: 5px;
  margin-right: 0rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0;
  float: right;
}

.cta {
  color: var(--accent1);
}

.logo {
  background-color: var(--primary-dark);
  border: none;
  border-radius: 5px;
}
